body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
}
.container-detail{
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: auto;
}
.container-detail div {
  width: 70%;
  padding: 20px;
  padding-top: 0;
}
.container-detail .img-detail{
  width:30%;
  height: 40%;
  object-fit: cover;
}

.btn-submit{
  color:#fff;
  background-color: #164c7e;
}

