h1, p, h4{
  text-align:center;
}
.ant-switch {
  margin-top: auto  ;
  margin-bottom: auto  ;
  margin-right: 30px;
  width: 10%;
}
.buttontheme{
  margin: auto;
  width: 5%;
  display: block;
}
.navbar.Light{
  background-color: #fff !important;
  color:black;
  display:flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
}
.navbar.Dark {
  background-color: black !important;
  font-color:#fff;
  display:flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-right: 50px;
}
nav ul li {
  margin: auto 20px;
  text-decoration: none;
  padding-top: 15px;
  border-radius: 50px;
}
nav ul li:hover{
  background-color:yellow;
  color: green;
  font-weight: bold;
}
nav ul .active {
  font-weight: bold;
  color:darkturquoise;
  background-color:gray;
}
h4{
  margin-top: -30px;
}
h1 {
  font-size: 35px;
  font-weight: 500;
}
.time{
  color: black;
}
p{
  margin-top: -30px;
}
img{
  margin-left: auto;
  margin-right: auto;
}
/* .containers{
  margin: 8% 25%;
  padding: 0 10%;
} */
.container {
  background-color:#fff;
  margin: 5% 25%;
  box-shadow: 10px 10px 15px grey   ;
  padding: 15px 15px;
}

input.box{
  width: 20px;
  height: 20px;
  display: inline;
}
.tombol{
  padding-top: 10px;
}
.buttondlt{
  background-color:red;
}
.buttonedt{
  background-color:aqua;
}
button{
  color: white;
  background-color:deepskyblue;
  width:100%;
  height: 60px;
  border: none;
}
button:active{
  background-color:red;
}
.atas{
  border-bottom: solid;
}
.kotak {
  border-color: black;
  border-bottom: 1px solid;
  font-size: 25px;
}
.atas,.kotak {
  padding: 10px;

}
.button {
  display: inline;  
  text-align: center;
  background-color: aqua;
}
.button::after{
  background-color: red;
}
 table,th, td {
  border: 1px solid black;
}
tr:hover {background-color: red;}
table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow-y:auto;

}
.tomvol{
  margin-top: -15px;
  float:right;
}
.teks {
  float:right;
}

th {
  height: 70px;
  background-color: #04AA6D;
  color: white;
}
.site-layout-content {
  margin: 8% ;
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: #fff;

}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
