body {
    background-image: url("pattern.jpg");
    background-color: #cccccc;
    
}
h1 {
    text-align:center;
    font-size: 35px;
}

nav {
    background-color: #fff !important;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-right: 50px;
  }
  
  nav img {
    height: fit-content;
    margin: auto 50px;
  }
  
  nav ul a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 50px;
  }
  nav ul a:hover{
    color: red;
    font-weight: bold;
  }
  nav ul .active {
    font-weight: bold;
    color: white;
    background-color: black;
  }


section {
    line-height: 1.6;
    margin:75 250 ;
    padding: 15px;
    background-color: #fff;
    padding-left: 40px;
}
.lorem {
    border-bottom: double;
 }
footer {
    background-color: black;
    justify-content: space-between;
    width: 100%;
    position: fixed ;
    bottom: 0%;
}
footer h5 {
    color: #fff;
    text-align: center;
}
.pesan {
    margin-left: 100px;
}
.atas {
    margin-left: 140px;
}